{%- extends "bootstrap/base.html" %}
{% import 'navbar.html' as navbar %}
{% import 'chat.html' as chat %}

{% block title %}
    {{ titulo }}
{% endblock %}

{% block head %}
    <link rel="icon" href="/static/imagens/favicon.png" type="image/x-icon"/>

    <link rel="stylesheet" href="/static/css/tamagotchi.css" type="text/css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">

    <script src="/static/style/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/objetos/usuario.js"></script>
    <script src="/static/objetos/utils.js"></script>
    <script src="/static/objetos/tamagotchi.js"></script>
    <script src="/static/objetos/hashgame.js"></script>
    {{ super() }}
{% endblock %}

{% block body %}
    <body>
    {{ navbar }}
    <div class="col-sm-12 row">
        <div class="col-sm-10 container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible alert-warning" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <!-- <strong>Title</strong> --> {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="cenario">
                <div class="col-sm-3">
                    <div id="pokeinfo">
                        <div class="col-sm-3">Nome:</div>
                        <div class="col-sm-9" id="nome">objeto de pesquisa padrao numbar one</div>
                        <hr/>
                        <div class="col-sm-3">Nascido:</div>
                        <div class="col-sm-9" id="idade">1 dia 04:03:01s</div>
                        <hr/>
                        <div class="col-sm-3">Vida:</div>
                        <div class="col-sm-9">
                            <div class="progress my-bar">
                                <div id="health" class="progress-bar"
                                     role="progressbar"
                                     aria-valuenow="60"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="col-sm-3">Fome:</div>
                        <div class="col-sm-9">
                            <div class="progress my-bar">
                                <div id="hunger" class="progress-bar"
                                     role="progressbar"
                                     aria-valuenow="60"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="col-sm-3">Felicidade:</div>
                        <div class="col-sm-9">
                            <div class="progress my-bar">
                                <div id="happy" class="progress-bar"
                                     role="progressbar"
                                     aria-valuenow="60"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="pokelist" class="pokelist">
                        <ul id="tamalist" class="list-group list-unstyled">
                            <a href="#" id="tama" class="list-group-item">
                                <span id="tama_msg" class="badge">2</span>
                                <img id="tama_imagem" class="tama-icon" src="/static/imagens/pokemons/charmander.gif">
                                <i id="tama_name">Fairy</i>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
            <div ondrop="drop(event)" id="pokerender" class=" img-responsive" ondragover="allowDrop(event)">
                <img id="tama_img" src="/static/imagens/pokemons/default.png">
            </div>
            <div id="diagonal_bottons" class="btn-group btn-group-sm btn-success">
                <button type="button" class="btn btn-success" onclick="loadItens()">
                    Itens
                </button>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
                    Loja
                </button>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Jogo_da_Velha">
                    Jogo da Velha
                </button>
            </div>
            <div id="inventory" class="col-sm-1">
                <div id="itens" class="collapse col-sm-2">
                    <div class="col-sm-12">
                        <img style="width:32px; float:right" onmouseover="bigImg(this)" onmouseout="normalImg(this)"
                             id="health_10" ondragstart="drag(event)" src="/static/imagens/usable/seringa.png"
                             draggable="true" / >
                    </div>
                    <div class="col-sm-12">
                        <img style="width:32px; float:right" onmouseover="bigImg(this)" onmouseout="normalImg(this)"
                             id="hunger_10" ondragstart="drag(event)" src="/static/imagens/usable/maca.png"
                             draggable="true" / >
                    </div>
                    <div class="col-sm-12">
                        <img style="width:32px; float:right" onmouseover="bigImg(this)" onmouseout="normalImg(this)"
                             id="happy_10" ondragstart="drag(event)" src="/static/imagens/usable/bola.png"
                             draggable="true" / >
                    </div>
                </div>
            </div>
        </div>

        <div id="perfil" class="col-sm-2 my_list  text-center" style="margin-bottom: 10px">
            <h4><img class="pokemon-icon my-icon" src="/static/imagens/favicon.png">Perfil
            </h4>
            <img id="usuario_imagem" class="user-icon my-icon" src="/static/imagens/personagens/ashe.png">
            <div id="usuario_nome" class="">
                John Doe
            </div>
            <br/>
            <div>
                <img class="user-icon my-icon" src="/static/imagens/coin.png">
                <div id="usuario_money" class="">$ 1357</div>
            </div>
            <hr/>
        </div>

        <div id="usuarios_online" class="col-sm-2 my_list text-center">
            <h4><img class="pokemon-icon my-icon" src="/static/imagens/favicon.png">Usuarios Online</h4>
            <hr/>
            <ul id="online" class="list-group">
                <li id="user" class="list-group-item my-list collapse">
                    <span id="help" class="badge">2</span>
                    <i id="username">John Doe</i>
                    <img id="imagem" class="user-icon my-icon" src="/static/imagens/personagens/ashe.png">
                    <div id="mensagem" class="text-left my-msg">
                        In Game
                    </div>
                </li>
            </ul>
        </div>
    </div>


    <!-- Modal Loja -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Loja</h4>
                </div>
                <div class="modal-body col-sm-12">
                    {% for pokemon in pokemons %}
                        <form action="/tamagotchi/buy" class="col-sm-4 thumbnail" method="post">
                            <ul class="list-group col-sm-12" style="height: 120px">
                                <input type="hidden" name="price" id="price" value={{ pokemon.price }}>

                                <input type="hidden" name="poke" id="poke" value="{{ pokemon.nome }}">
                                <img class="text-center"
                                     src="/static/imagens/pokemons/{{ pokemon.img }}">

                            </ul>
                            <div class="col-sm-12 text-center">
                                <p style="color: #2980B9">{{ pokemon.nome }}</p>
                                <p style="color: lime">$ {{ pokemon.price }}</p>
                                <button type="submit" onclick="location.href='/'" class="btn btn-primary">Comprar
                                </button>
                            </div>
                        </form>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>


        </div>
    </div>

    <!-- Modal Jogo da Velha -->
    <div class="modal fade bs-example-modal-lg" id="Jogo_da_Velha" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="next">Jogo_Da_Velha</h4>
                </div>
                <div class="modal-body col-sm-12">

                    <div class="col-sm-6">
                        <table cellpadding="10" class="col-sm-12 text-center text-uppercase">
                            <tr>
                                <th id="00"><img class="col-sm-12" src="/static/imagens/games/B.png"/></th>
                                <th id="01"><img class="col-sm-12" src="/static/imagens/games/B.png"/></th>
                                <th id="02"><img class="col-sm-12" src="/static/imagens/games/B.png"/></th>
                            </tr>
                            <tr>
                                <th id="10"><img class="col-sm-12" src="/static/imagens/games/B.png"/></th>
                                <th id="11"><img class="col-sm-12" src="/static/imagens/games/B.png"/></th>
                                <th id="12"><img class="col-sm-12" src="/static/imagens/games/B.png"/></th>
                            </tr>
                            <tr>
                                <th id="20"><img class="col-sm-12" src="/static/imagens/games/B.png"/></th>
                                <th id="21"><img class="col-sm-12" src="/static/imagens/games/B.png"/></th>
                                <th id="22"><img class="col-sm-12" src="/static/imagens/games/B.png"/></th>
                            </tr>
                        </table>
                    </div>

                    <div class="col-sm-6">
                        <button onclick="Jogo_Da_Velha('New','pvp','');">New game PVP</button>
                        <button onclick="Jogo_Da_Velha('New','pvm','');">New game PVM</button>
                        <button onclick="generate_list();">Enter Game</button>

                        <div id="mensagems" class="col-sm-12">

                        </div>

                        <div id="game_list" class="col-sm-12 row">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    {{ chat }}
    </body>
{% endblock %}
